<div class="card " style="margin-bottom: 10px">
  <div class="container">
      <div class="col">
          <div id="content">
              <img src="/assets/img/logo.png" alt="revature" class="logo">
          </div>
      </div>
      <div>
          <form class="form-horizontal">
              <label class="control-label col-sm-2">Email</label>
              <div class="input-group form-group col-sm-8">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="email" id="email" placeholder="E-Mail" required minlength="1" maxlength="50" [(ngModel)]="email">

              </div>
              <div class="form-group col-sm-offset-2 col-sm-8">
                  <button (click)="onSubmit()" class="btn btn-primary">Reset Password</button>
                  <!-- <input id="formButton" type="button" value="Login" class="btn float-right login_btn" onclick="loginSubmit()"> -->
              </div>
          </form>
      </div>
  </div>
</div>

