<div class="card " style="margin-bottom: 10px">
    <div class="container">
        <div class="col">
            <div id="content">
                <img src="/assets/img/logo.png" alt="revature" class="logo">
            </div>
        </div>
        <div>
            <form class="form-horizontal">
                <label class="control-label col-sm-2">Email</label>
                <div class="input-group form-group col-sm-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input id="email" type="text" [(ngModel)]="userToLog.email" name="email" class="form-control"
                        placeholder="email">

                </div>
                <label class="control-label col-sm-2">Password</label>
                <div class="input-group form-group col-sm-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="password" type="password" [(ngModel)]="userToLog.password" name="password"
                        class="form-control" placeholder="password">
                </div>
                <div class="form-check">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="checkbox">
                            <label class="form-check-label" for="defaultCheck1">Remember me</label>
                        </div>       
                    </div>
                <div class="form-group col-sm-offset-2 col-sm-8">
                    <button (click)="loginSubmit()" class="btn float-right login_btn btn-primary">Login</button>
                    <!-- <input id="formButton" type="button" value="Login" class="btn float-right login_btn" onclick="loginSubmit()"> -->
                </div>
            </form>
        </div>
    </div>
</div>






<!-- <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Hello Spring Security</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">		
            Logged in user: <span sec:authentication="name"></span> |					
            Roles: <span sec:authentication="principal.authorities"></span>				
            <div>
                <form action="#" th:action="@{/logout}" method="post">					
                    <input type="submit" value="Logout" />
                </form>
            </div>
        </div>
        <h1>Hello Spring Security</h1>
        <p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
        <ul>
            <li>Go to the <a href="/user/index" th:href="@{/user/index}">secured pages</a></li>
        </ul>
    </body>
</html> -->