<div class="container">
    <!-- <div>
      <form class="form-horizontal">
       <input type = "hidden" [(ngModel)] = "content.id" name = "id" /> 
          <div class="form-group">
              <label class="control-label col-sm-2">Title</label>
              <div class="col-sm-8">
                  <input type = "text" [(ngModel)] = "content.title" name = "title" class="form-control" />
              </div>   
          </div>
          <div class="form-group">
              <label class="control-label
               col-sm-2">URL</label>
              <div class="col-sm-8">
                      <input type = "text" [(ngModel)] = "content.url" name = "URL" class="form-control" />
              </div>    
          </div>

          <div class="form-group">
              <label class="control-label col-sm-2">Status</label>
              <div class="col-sm-8">
                      <input type = "text" [(ngModel)] = "content.status" name = "status" class="form-control" />
              </div>    
          </div>
      </form>
  </div> -->

  <p>Content List</p>
    <table class="table table-sm table-bordered table-hover">
        <thead>
            <tr class="table-primary">
                <th>ID</th>
                <th>TITLE</th>
                <th>URL</th>
                <th>STATUS</th>
                <th>ACTION</th>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor ="let content of contents"  class="table-light">
                <td>{{content.id}}</td>
                <td>{{content.title}}</td>
                <td>{{content.url}}</td>
                <td>{{content.status}}</td>
               
             <div>
                <button (click) = "approve(content.id)" class="btn btn-success">Approve</button>
                &nbsp;&nbsp;
                <button (click) = "deny(content.id)" class="btn btn-danger" >Deny</button>  
             </div>       
    
            </tr>

            <tr *ngIf = "contents == null || contents.length == 0">
                <td colspan = '5'>No records found!</td> 
              </tr>

            
    
        </tbody>
    
    </table>